<?xml version="1.0"?>
<settings>
	<levels name= "Sudoku Levels" value="1">
	    <level name="Easy">
	    	<level_id>1</level_id>
	    	<min>10</min>
	    	<max>15</max>
	    </level>
	    <level name="Medium">
	    	<level_id>2</level_id>
	    	<min>40</min>
	    	<max>50</max>
	    </level>
	    <level name="Hard">
	    	<level_id>3</level_id>
	    	<min>40</min>
	    	<max>50</max>
	    </level>
	 </levels>
    <algorithm name = "Solve Algorithm" value="1">
		<resolution_type>1</resolution_type>
		<resolution_type>2</resolution_type>
		<resolution_type>3</resolution_type>
    </algorithm>
    <output name = "Output Type" >
    	<path>content\results\</path>
    	<filename>results.txt</filename> 	
    </output>
</settings>

<!-- <level>
	<level_name>Easy</level_name>
	<level_min_numbers>10</level_min_numbers>
	<level_max_numbers>15</level_max_numbers>
</level> 
<algorithm>
	<algorithm_type>Backtracking</algorithm_type>
</algorithm>
<output>
	<output_path>/resources/files</output_path>
	<output_file_name>settings.xml</output_file_name>
	<default_output_path>/resources/files</default_output_path>
	<default_file_name>settings.xml</default_file_name>
</output>
 -->
